<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @inventory.product %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @inventory.exp_date %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
